SERVER_URL={{ inventory_agent_clt_server_url }}
DISCOVERY_GENERIC_USER={{ inventory_agent_clt_discovery_generic_user }}
DISCOVERY_GENERIC_PASSWORD={{ inventory_agent_clt_discovery_generic_password }}

LOG_LEVEL={{ inventory_agent_clt_log_level }}
## stdout or file
LOG_OUTPUT={{ inventory_agent_clt_log_output }}
LOG_FILE={{ inventory_agent_clt_log_file }}